<div class="container" *ngIf="isAdmin">
    <h1 class="display-5 mb-4">Cadastrar novo docente</h1>
    <hr>
    <form [formGroup]="docenteForm" class="row g-3" (ngSubmit)="salvarDocente()">

        <div class="col-12">
            <label for="nome" class="form-label">Nome Completo:*</label>
            <input id="nome" class="form-control" formControlName="nome"
                [ngClass]="docenteForm.controls['nome'].dirty && docenteForm.controls['nome'].invalid ? 'is-invalid' : (docenteForm.controls['nome'].dirty && docenteForm.controls['nome'].valid ? 'is-valid' : '')"
                type="text">
            <div id="nomeFeedback" class="invalid-feedback">
                <span *ngIf="(docenteForm.controls['nome'].dirty || docenteForm.controls['nome'].touched) &&
                docenteForm.controls['nome'].errors?.['required']" class="label-error">Campo obrigatório*</span>
                <span *ngIf="(docenteForm.controls['nome'].dirty || docenteForm.controls['nome'].touched) &&
                docenteForm.controls['nome'].errors?.['minlength']" class="label-error">Minimo 8 caracteres*</span>
                <span *ngIf="(docenteForm.controls['nome'].dirty || docenteForm.controls['nome'].touched) &&
                docenteForm.controls['nome'].errors?.['maxlength']" class="label-error">Máximo 64 caracteres*</span>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <label for="genero" class="form-label">Gênero:*</label>
            <select id="genero" class="form-select" formControlName="genero"
                [ngClass]="docenteForm.controls['genero'].dirty && docenteForm.controls['genero'].invalid ? 'is-invalid' : (docenteForm.controls['genero'].dirty && docenteForm.controls['genero'].valid ? 'is-valid' : '')">
                <option *ngFor="let genero of generos">{{ genero }}</option>
            </select>
            <div id="generoFeedback" class="invalid-feedback">
                <span *ngIf="(docenteForm.controls['genero'].dirty || docenteForm.controls['genero'].touched) &&
                docenteForm.controls['genero'].errors?.['required']" class="label-error">Campo obrigatório*</span>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <label for="dataNascimento" class="form-label">Data de Nascimento:*</label>
            <input id="dataNascimento" class="form-control" formControlName="dataNascimento"
                [ngClass]="docenteForm.controls['dataNascimento'].dirty && docenteForm.controls['dataNascimento'].invalid ? 'is-invalid' : (docenteForm.controls['dataNascimento'].dirty && docenteForm.controls['dataNascimento'].valid ? 'is-valid' : '')"
                type="date">
            <div id="dataNascimentoFeedback" class="invalid-feedback">
                <span *ngIf="(docenteForm.controls['dataNascimento'].dirty || docenteForm.controls['dataNascimento'].touched) &&
                docenteForm.controls['dataNascimento'].errors?.['required']" class="label-error">Campo
                    obrigatório*</span>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <label for="cpf" class="form-label">CPF:*</label>
            <input id="cpf" class="form-control" formControlName="cpf"
                [ngClass]="docenteForm.controls['cpf'].dirty && docenteForm.controls['cpf'].invalid ? 'is-invalid' : (docenteForm.controls['cpf'].dirty && docenteForm.controls['cpf'].valid ? 'is-valid' : '')"
                type="text">
            <div id="cpfFeedback" class="invalid-feedback">
                <span *ngIf="(docenteForm.controls['cpf'].dirty || docenteForm.controls['cpf'].touched) &&
                docenteForm.controls['cpf'].errors?.['required']" class="label-error">Campo obrigatório*</span>
                <span *ngIf="(docenteForm.controls['cpf'].dirty || docenteForm.controls['cpf'].touched) &&
                docenteForm.controls['cpf'].errors?.['pattern']" class="label-error">Favor preencher CPF válido*</span>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <label for="rg" class="form-label">RG:*</label>
            <input id="rg" class="form-control" formControlName="rg"
                [ngClass]="docenteForm.controls['rg'].dirty && docenteForm.controls['rg'].invalid ? 'is-invalid' : (docenteForm.controls['rg'].dirty && docenteForm.controls['rg'].valid ? 'is-valid' : '')"
                type="text">
            <div id="rgFeedback" class="invalid-feedback">
                <span *ngIf="(docenteForm.controls['rg'].dirty || docenteForm.controls['rg'].touched) &&
                docenteForm.controls['rg'].errors?.['required']" class="label-error">Campo obrigatório*</span>
                <span *ngIf="(docenteForm.controls['rg'].dirty || docenteForm.controls['rg'].touched) &&
                docenteForm.controls['rg'].errors?.['maxlength']" class="label-error">Máximo 20 caracteres*</span>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <label for="estadoCivil" class="form-label">Estado Civil:*</label>
            <select id="estadoCivil" class="form-select" formControlName="estadoCivil"
                [ngClass]="docenteForm.controls['estadoCivil'].dirty && docenteForm.controls['estadoCivil'].invalid ? 'is-invalid' : (docenteForm.controls['estadoCivil'].dirty && docenteForm.controls['estadoCivil'].valid ? 'is-valid' : '')">
                <option *ngFor="let estadoCivil of estadosCivis">{{ estadoCivil }}</option>
            </select>
            <div id="estadoCivilFeedback" class="invalid-feedback">

                <span *ngIf="(docenteForm.controls['estadoCivil'].dirty || docenteForm.controls['estadoCivil'].touched) &&
                docenteForm.controls['estadoCivil'].errors?.['required']" class="label-error">Campo obrigatório*</span>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <label for="telefone" class="form-label">Telefone:*</label>
            <input id="telefone" class="form-control" formControlName="telefone"
                [ngClass]="docenteForm.controls['telefone'].dirty && docenteForm.controls['telefone'].invalid ? 'is-invalid' : (docenteForm.controls['telefone'].dirty && docenteForm.controls['telefone'].valid ? 'is-valid' : '')"
                type="text">
            <div id="telefoneFeedback" class="invalid-feedback">
                <span *ngIf="(docenteForm.controls['telefone'].dirty || docenteForm.controls['telefone'].touched) &&
                docenteForm.controls['telefone'].errors?.['required']" class="label-error">Campo obrigatório*</span>
                <span *ngIf="(docenteForm.controls['telefone'].dirty || docenteForm.controls['telefone'].touched) &&
                docenteForm.controls['telefone'].errors?.['pattern']" class="label-error">Favor preencher telefone
                    válido*</span>
            </div>
        </div>
        <div class="col-md-8">
            <label for="email" class="form-label">E-mail:*</label>
            <input id="email" class="form-control" formControlName="email"
                [ngClass]="docenteForm.controls['email'].dirty && docenteForm.controls['email'].invalid ? 'is-invalid' : (docenteForm.controls['email'].dirty && docenteForm.controls['email'].valid ? 'is-valid' : '')"
                type="email">
            <div id="emailFeedback" class="invalid-feedback">
                <span *ngIf="(docenteForm.controls['email'].dirty || docenteForm.controls['email'].touched) &&
                docenteForm.controls['email'].errors?.['required']" class="label-error">Campo obrigatório*</span>
                <span *ngIf="(docenteForm.controls['email'].dirty || docenteForm.controls['email'].touched) &&
                docenteForm.controls['email'].errors?.['email']" class="label-error">Favor preencher e-mail
                    válido*</span>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <label for="senha" class="form-label">Senha:*</label>
            <input id="senha" class="form-control" formControlName="senha"
                [ngClass]="docenteForm.controls['senha'].dirty && docenteForm.controls['senha'].invalid ? 'is-invalid' : (docenteForm.controls['senha'].dirty && docenteForm.controls['senha'].valid ? 'is-valid' : '')"
                type="password">
            <div id="senhaFeedback" class="invalid-feedback">
                <span *ngIf="(docenteForm.controls['senha'].dirty || docenteForm.controls['senha'].touched) &&
                docenteForm.controls['senha'].errors?.['required']" class="label-error">Campo obrigatório*</span>
                <span *ngIf="(docenteForm.controls['senha'].dirty || docenteForm.controls['senha'].touched) &&
                docenteForm.controls['senha'].errors?.['minlength']" class="label-error">Minimo 8 caracteres*</span>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <label for="naturalidade" class="form-label">Naturalidade:*</label>
            <input id="naturalidade" class="form-control" formControlName="naturalidade"
                [ngClass]="docenteForm.controls['naturalidade'].dirty && docenteForm.controls['naturalidade'].invalid ? 'is-invalid' : (docenteForm.controls['naturalidade'].dirty && docenteForm.controls['naturalidade'].valid ? 'is-valid' : '')"
                type="text">
            <div id="naturalidadeFeedback" class="invalid-feedback">
                <span *ngIf="(docenteForm.controls['naturalidade'].dirty || docenteForm.controls['naturalidade'].touched) &&
                docenteForm.controls['naturalidade'].errors?.['required']" class="label-error">Campo
                    obrigatório*</span>
                <span *ngIf="(docenteForm.controls['naturalidade'].dirty || docenteForm.controls['naturalidade'].touched) &&
                docenteForm.controls['naturalidade'].errors?.['minlength']" class="label-error">Minimo 8
                    caracteres*</span>
                <span *ngIf="(docenteForm.controls['naturalidade'].dirty || docenteForm.controls['naturalidade'].touched) &&
                docenteForm.controls['naturalidade'].errors?.['maxlength']" class="label-error">Máximo 64
                    caracteres*</span>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <label for="cep" class="form-label">CEP:*</label>
            <input id="cep" class="form-control" formControlName="cep" type="text" (blur)="buscarCep()"
                [ngClass]="docenteForm.controls['cep'].dirty && docenteForm.controls['cep'].invalid ? 'is-invalid' : (docenteForm.controls['cep'].dirty && docenteForm.controls['cep'].valid ? 'is-valid' : '')">
            <div id="cepFeedback" class="invalid-feedback">
                <span *ngIf="(docenteForm.controls['cep'].dirty || docenteForm.controls['cep'].touched) &&
                docenteForm.controls['cep'].errors?.['required']" class="label-error">Campo obrigatório*</span>
            </div>
        </div>
        <div class="col-md-6">
            <label for="cidade" class="form-label">Cidade:*</label>
            <input id="cidade" class="form-control" formControlName="cidade"
                [ngClass]="docenteForm.controls['cidade'].dirty && docenteForm.controls['cidade'].invalid ? 'is-invalid' : (docenteForm.controls['cidade'].dirty && docenteForm.controls['cidade'].valid ? 'is-valid' : '')"
                type="text">
            <div id="cidadeFeedback" class="invalid-feedback">
                <span *ngIf="(docenteForm.controls['cidade'].dirty || docenteForm.controls['cidade'].touched) &&
                docenteForm.controls['cidade'].errors?.['required']" class="label-error">Campo obrigatório*</span>
            </div>
        </div>
        <div class="col-4 col-md-2">
            <label for="estado" class="form-label">Estado:*</label>
            <input id="estado" class="form-control" formControlName="estado"
                [ngClass]="docenteForm.controls['estado'].dirty && docenteForm.controls['estado'].invalid ? 'is-invalid' : (docenteForm.controls['estado'].dirty && docenteForm.controls['estado'].valid ? 'is-valid' : '')"
                type="text">
            <div id="estadoFeedback" class="invalid-feedback">
                <span *ngIf="(docenteForm.controls['estado'].dirty || docenteForm.controls['estado'].touched) &&
                docenteForm.controls['estado'].errors?.['required']" class="label-error">Campo obrigatório*</span>
            </div>
        </div>
        <div class="col-8">
            <label for="logradouro" class="form-label">Logradouro:*</label>
            <input id="logradouro" class="form-control" formControlName="logradouro"
                [ngClass]="docenteForm.controls['logradouro'].dirty && docenteForm.controls['logradouro'].invalid ? 'is-invalid' : (docenteForm.controls['logradouro'].dirty && docenteForm.controls['logradouro'].valid ? 'is-valid' : '')"
                type="text">
            <div id="logradouroFeedback" class="invalid-feedback">
                <span *ngIf="(docenteForm.controls['logradouro'].dirty || docenteForm.controls['logradouro'].touched) &&
                docenteForm.controls['logradouro'].errors?.['required']" class="label-error">Campo obrigatório*</span>
            </div>
        </div>
        <div class="col-4 col-md-2">
            <label for="numero" class="form-label">Número:*</label>
            <input id="numero" class="form-control" formControlName="numero"
                [ngClass]="docenteForm.controls['numero'].dirty && docenteForm.controls['numero'].invalid ? 'is-invalid' : (docenteForm.controls['numero'].dirty && docenteForm.controls['numero'].valid ? 'is-valid' : '')"
                type="text">
            <div id="numeroFeedback" class="invalid-feedback">
                <span *ngIf="(docenteForm.controls['numero'].dirty || docenteForm.controls['numero'].touched) &&
                docenteForm.controls['numero'].errors?.['required']" class="label-error">Campo obrigatório*</span>
            </div>
        </div>
        <div class="col-8 col-md-6">
            <label for="complemento" class="form-label">Complemento:</label>
            <input id="complemento" class="form-control" formControlName="complemento" type="text">
        </div>
        <div class="col-md-6">
            <label for="bairro" class="form-label">Bairro:*</label>
            <input id="bairro" class="form-control" formControlName="bairro"
                [ngClass]="docenteForm.controls['bairro'].dirty && docenteForm.controls['bairro'].invalid ? 'is-invalid' : (docenteForm.controls['bairro'].dirty && docenteForm.controls['bairro'].valid ? 'is-valid' : '')"
                type="text">
            <div id="bairroFeedback" class="invalid-feedback">
                <span *ngIf="(docenteForm.controls['bairro'].dirty || docenteForm.controls['bairro'].touched) &&
                docenteForm.controls['bairro'].errors?.['required']" class="label-error">Campo obrigatório*</span>
            </div>
        </div>
        <div class="col-md-6">
            <label for="pontoReferencia" class="form-label">Ponto de Referência:</label>
            <input id="pontoReferencia" class="form-control" formControlName="pontoReferencia" type="text">
        </div>
        <div class="col-md-6">
            <label for="materias" class="form-label">Matérias:*</label>
            <select id="materias" class="form-select" formControlName="materias"
                [ngClass]="docenteForm.controls['materias'].dirty && docenteForm.controls['materias'].invalid ? 'is-invalid' : (docenteForm.controls['materias'].dirty && docenteForm.controls['materias'].valid ? 'is-valid' : '')"
                multiple>
                <option *ngFor="let materia of materias">{{ materia }}</option>
            </select>
            <div id="materiasFeedback" class="invalid-feedback">
                <span *ngIf="(docenteForm.controls['materias'].dirty || docenteForm.controls['materias'].touched) &&
                docenteForm.controls['materias'].errors?.['required']" class="label-error">Campo obrigatório*</span>
            </div>
        </div>

        <hr />
        <div class="col-12 text-end">
            <button type="submit" class="btn btn-primary me-2" [disabled]="isEdit">Salvar</button>
            <button type="button" class="btn btn-secondary mx-2" (click)="editarDocente()"
                [disabled]="!isEdit">Editar</button>
            <button type="button" class="btn btn-danger ms-2" (click)="deletarDocente()"
                [disabled]="!isEdit">Deletar</button>
        </div>
    </form>
</div>