.notas-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5ebff;
    border-radius: 8px;
  }
  
  .notas-container h1 {
    text-align: left;
    margin-bottom: 2px;
  }

  .notas-container h4 {
    font-size: 1.1rem;
    color: #555;
    text-align: left;
    margin-bottom: 20px;
  }
  .notas-container h2 {
    font-size: 1.75rem;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .notas-container h3 {
    font-size: 1.5rem;
    color: #555;
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
  }
  
  table {
    width: 100%;
    margin-bottom: 20px;
  }
  
  thead {
    background-color: #333;
    color: white;
    
  }
  
  thead th {
    padding: 10px;
    text-align: left;
    font-weight: bold;
    
  }
  
  tbody tr {
    border-bottom: 1px solid #ddd;
  }


  tbody td {
    padding: 5px;
    text-align: left;
    color: #555;
  }
  
  tbody td:first-child {
    font-weight: bold;
  }

 
  tbody td:nth-child(2) {
    width: 20%;
  }

  tbody td:nth-child(3) {
    width: 25%;
  }

  tbody td:nth-child(4) {
    width: 100px;
  }

  tbody td:nth-child(5) {
    width: 50px;
  }
  
  