.cadastro-aluno {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5ebff;
    border-radius: 10px;
  }

    .cadastro-aluno h1 {
        text-align: left;
        margin-bottom: 20px;
        font-size: xx-large;
    }
  
  .cadastro-aluno form div {
    margin-bottom: 15px;
  }
  
  .cadastro-aluno label {
    display: block;
    margin-bottom: 5px;
  }
  
  .cadastro-aluno input,
  .cadastro-aluno select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  .botoes {
    display: flex;
    justify-content: space-between;
  }
  

  .botoes button {
    width: 100px;
    padding: 10px;
    background-color: #333;
    color: white;
    border-radius: 5%;
    border: none;
    cursor: pointer;
    margin-top: 5px;
  }
  
  button:hover {
    background-color: #777676;
  }
  
  .botoes button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
  }

  .container-grid{
	/* //Instrução para definir o display como grid */
	display: grid;
	/* //Instrução para definir a quantidade de colunas */
	grid-template-columns: 2fr;
	/* //Instrução para definir o espaçamento entre as colunas */
	gap: 15px;
	
}

.container-grid div{
    display: flex;
    flex-direction: column;
}

.col-1{
    grid-column: span 1;
}

.col-2{
    grid-column: span 2;
}

.col-3{
    grid-column: span 3;
}